@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    color: rgb(255, 174, 0);
    
}

div>img {
    height: 500px;
    margin: auto;
    display: block;
}

div>h3 {
    text-decoration: underline;
}

div>p {
    color: black;
    border: 1px solid black;
    padding: 1%;
    font-family: 'Lato', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    text-align:justify;
}

table {
    border: 1px solid black;
    margin: auto;
    
}

th{
    border: 1px solid black;
}

th>img {
    height: 300px;
    width: 350px;
}

img.counter {
    height: auto;
    width: 100%;
}

th.MidJng {
    color: black;
}

a.Link {
    color: blue;
}